body{
    background: #F0f8ff;
}

.logotipo {
    width: 50px;
    margin: 20px 0 0 20px;
}

main{
    width: 940px;
    
}

ul{
    list-style: none;
}

.caja-texto {
    display: inline-flex; 
    vertical-align: top;
    margin: 0 10px;
    box-sizing: border-box;
    align-items: flex-start;
}

div{
    margin: 10px 5px;
    border-radius: 5px;
    border: black;
    
}

textarea{
    width: 400px;
    height: 500px;
    resize: none;
}

.ingreso textarea{
    background: #F0f8ff;

}

.egreso textarea{
    background-image: url(img/Muñeco.png);
    background-size: auto;
    background-repeat: no-repeat;
}

/*.egreso textarea{
    background-image: url(img/fondo-desencriptado.png);
}*/

/* Botones */

button{
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
  
.boton-encriptar {
    background-color: #0A3871;
    color: white;
  }
  
  .boton-desencriptar {
    background-color: #D8DFE8;
    color: white;
  }

/* Footer */

h5{
    color: white;
}

footer{
    background: black;
    font-style: italic;
    width: auto;
    height: auto;
    text-align: center;
    position: static;
}